.bg-light, .bg-light p, .bg-light h1, .bg-light h2, .bg-light ul, .bg-light li,
.bg-light form, .bg-light input, .bg-light select, .bg-light button {
    border-radius: 20px;
}

.lieu{
    font-size: 18px;
}

.img-qr-code {
    border-radius: 10px;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.encouragement {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    border: 2px solid #45A049;
    border-radius: 5px;
    font-size: 16px;
}

.emoji {
}

.alert{
    font-size : 20px;
    align-content: center;
}

#user-messages li {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc; /* Ligne de séparation */
    border-radius: 5px;
}

#message-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Couleur de fond de la barre de saisie */
    padding: 10px;
    border-top: 1px solid #ccc; /* Ligne de séparation entre les messages et la barre de saisie */
}